<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mwb.dao.mapper.PermissionMapper">

	<resultMap
			id="permissionResult"
			type="Permission">
		<id property="id" column="permission_id" />
		<result property="code" column="permission_code" />
		<result property="name" column="permission_name" />
	</resultMap>


	<sql id="permissionColumns">
		ap1.id AS permission_id,
		ap1.code AS permission_code,
		ap1.name AS permission_name
	</sql>

	<select
			id="selectPermissionsByPositionId"
			parameterType="map"
			resultMap="permissionResult" >

		SELECT
		<include refid="permissionColumns"/>
		FROM
		t_permission ap1
		INNER JOIN t_position_permission app ON ap1.id = app.permission_id
		INNER JOIN t_position ap ON app.position_id = ap.id
		WHERE
		ap.id = #{positionId,javaType=int, jdbcType=INTEGER}
		ORDER BY ap1.id asc
	</select>

	<select
			id="selectAllPermissions"
			resultMap="permissionResult" >
		SELECT
		<include refid="permissionColumns"/>
		FROM
		t_permission ap1
		ORDER BY ap1.id asc
	</select>

	<insert id="batchInsertPositionPermissions"
			parameterType="map">
		INSERT INTO t_position_permission (
		position_id,
		permission_id
		) VALUES
		<foreach collection="permissionIds" item="permissionId" index="index" separator=",">
			(
			#{positionId, javaType=int, jdbcType=INTEGER},
			#{permissionId, javaType=int, jdbcType=INTEGER}
			)
		</foreach>
	</insert>

	<delete
			id="deletePermissionByPositionIdAndPermissionId"
			parameterType="map" >

		DELETE FROM
		t_position_permission
		WHERE
		position_id = #{positionId, javaType=int, jdbcType=INTEGER}
		and permission_id = #{permissionId, javaType=int, jdbcType=INTEGER}
	</delete>
</mapper>