<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8"/>

	<title>遇到错误</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

	<meta content="" name="description"/>

	<meta content="" name="author"/>


</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-404-3">


<div class="container error-404" align="center">
	<p>&nbsp</p>
	<p>&nbsp</p>
	<p>&nbsp </p>
	<p> &nbsp</p>
	<p> &nbsp</p>
	<p> &nbsp</p>
	<p> &nbsp</p>

	<p>
	<h1><a href="/frontend/login.html">重新登录</a>
	</h1>

	</p>

</div>

<script type="application/javascript" src="/assets/js/jquery-1.11.1.min.js"></script>
<script>

	jQuery(document).ready(function () {

		alert("遇到错误了，请重新登录！");

	});

</script>

<!-- END JAVASCRIPTS -->

</body>

<!-- END BODY -->

</html>