<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>详情</title>
    <link rel="stylesheet" href="../../assets/lib/bootstrap/css/bootstrap-2.3.0.min.css"/>
    <link rel="stylesheet" href="../../assets/lib/bootstrap/datetimepicker/css/datetimepicker.css"/>
    <link rel="stylesheet" href="../../assets/them/DT_bootstrap.css"/>
    <link rel="stylesheet" href="../../assets/lib/jquery/datatable/css/select.dataTables.min.css"/>
    <link rel="stylesheet" href="../../assets/them/default.css"/>
    <link rel="stylesheet" href="../../assets/them/style.css"/>
    <link rel="stylesheet" href="../../assets/them/style-metro.css"/>
    <link rel="stylesheet" href="../../assets/them/style-responsive.css"/>
    <link rel="stylesheet" href="../../assets/css/base.css"/>
    <link rel="stylesheet" href="../../assets/css/baobiao.css"/>
    <style>
        .control-label{
            margin-right:4em;
        }
    </style>
</head>
<body>
<div class="cont">
    <div class="top clearfix">
        <div class="top_left">

        </div>
        <div class="top_right">
            <a href="#"><span id="userName"></span></a>
            <a href="/frontend/modify.html" class="modifyPassword">修改密码</a>
            <a href="/logout">退出</a>
        </div>

    </div>

    <div class="bottom clearfix">
        <div class="bottom_left">
            <ul style="margin:0">
                <li style="border-bottom:#1481b3" class="fa_li">

                    <a href="#" class="floor"><img src="../../assets/img/pic-1_05.png" alt=""/><span>商品管理</span> <span
                            class="jia add"></span></a>
                    <ul>
                        <li><a href="/frontend/commodity.html" target="_blank">商品列表</a></li>
                        <li id="showCreate"><a href="/frontend/create.html" target="_blank">添加新商品</a></li>

                    </ul>

                </li>

                <li  class="fa_li">
                    <a href="#" class="floor"><img src="../../assets/img/pic-3_13.png" alt=""/><span>报表统计</span> <span
                            class="jia add"></span></a>
                    <ul>
                        <li><a href="/frontend/finance.html" target="_blank">财务管理</a></li>
                        <li><a href="/frontend/report.html" target="_blank">商品报表</a></li>
                    </ul>
                </li>

                <li id="showEmployee" class="fa_li" >
                    <a href="#" class="floor"><img src="../../assets/img/pic-3_13.png" alt=""/><span>员工管理</span> <span
                            class="jia add"></span></a>
                    <ul>
                        <li><a href="/frontend/employeeInfo.html" target="_blank">员工信息</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="bottom_left_2">
            <img src="/assets/img/pic-6_03.png" alt=""/>
        </div>
        <div class="bottom_right">
            <div class="bottom_right_son dis">
                <a href="/frontend/commodity.html" class="bottom_add">商品列表</a>
                <p class="bottom_right_tit">管理中心-商品列表</p>
                <ul class="zhou_2_ul clearfix">
                    <li class="on">通用信息</li>
                    <li>添加凭证</li>
                </ul>
                <div class="zhou_2_floor">
                    <div class="zhou_2_ty dis">
                        <form id="detailForm" class="form-horizontal">
                            <div class="control-group" gid="activityId">
                                <label class="control-label">活动类型</label>
                                <label uid="activityName"></label>
                            </div>
                            <div class="control-group" gid="activityTime">
                                <label class="control-label helpinline"> 活动时间</label>
                                <span class="date">
                                    <label uid="activityTime"></label>
                                </span>
                            </div>
                            <div class="control-group" gid="url">
                                <label class="control-label">产品链接</label>
                                <input type="button" value="复制" id="productCopy">
                                <textarea uid="url" readonly></textarea>
                            </div>
                            <div class="control-group" gid="couponUrl">
                                <label class="control-label">优惠券链接</label>
                                <input type="button" value="复制" id="couponCopy">
                                <textarea uid="couponUrl" readonly></textarea>
                            </div>
                            <div class="control-group" gid="productId">
                                <label class="control-label">商品ID</label>
                                <label uid="productId"></label>
                            </div>
                            <div class="control-group" gid="productId">
                                <label class="control-label">店铺类型</label>
                                <label uid="storeTypeName"></label>
                            </div>
                            <div class="control-group">
                                <label class="control-label">店铺确认</label>描述相符:&nbsp<span
                                    uid="storeDescriptionScore"></span><br/>
                                <span>服务态度:&nbsp<span uid="serviceScore"></span></span><br/>
                                <span style="margin-left: 216px;">发货速度:&nbsp<span uid="speedScore"></span></span>
                            </div>
                            <div class="control-group" gid="pictureUrl">
                                <label class="control-label">商品图片</label>
                                <div class="controls">
                                    <div class="imageCon">
                            <span>
                                <img class="bigImg" uid="pictureUrl"/>
                            </span>
                            <span gid="">
                                <img class="bigImg" uid="pictureUrl2"/>
                            </span>
                            <span gid="">
                                <img class="bigImg" uid="pictureUrl3"/>
                            </span>
                            <span gid="">
                                <img class="bigImg" uid="pictureUrl4"/>
                            </span>
                            <span gid="">
                                <img class="bigImg" uid="pictureUrl5"/>
                            </span>
                            <span gid="">
                                <img class="bigImg" uid="pictureUrl6"/>
                            </span>
                            <span gid="">
                                <img class="bigImg" uid="pictureUrl7"/>
                            </span>
                            <span gid="">
                                <img class="bigImg" uid="pictureUrl8"/>
                            </span>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group" gid="productId">
                                <label class="control-label">补充主图</label>
                                <label uid="supplementPictureUrl"></label>
                            </div>
                            <div class="control-group" gid="category">
                                <label class="control-label">商品分类</label>
                                <label uid="productTypeName"></label>
                            </div>
                            <div class="control-group" gid="name">
                                <label class="control-label">商品名称</label>
                                <label uid="name"></label>
                            </div>
                            <div class="control-group" gid="sales">
                                <label class="control-label">30天内销量</label><label uid="sales"></label>
                            </div>
                            <div class="control-group" gid="immediatelyStr">
                                <label class="control-label">是否拍立减</label>
                                <label uid="immediatelyStr"></label>
                            </div>
                            <div class="control-group" gid="">
                                <label class="control-label">优惠券数量</label>
                                <label style="display: inline-block" >领取/剩余&nbsp</label>
                                <label style="display: inline-block" uid="couponUseNumber"></label>
                                <label style="display: inline-block" >/</label>
                                <label style="display: inline-block" uid="couponSurplusNumber"></label>
                            </div>
                            <div class="control-group" gid="couponBeginTime">
                                <label class="control-label">优惠券有效期</label>
                                <label style="display: inline-block" uid="couponBeginTime"></label>
                                <label style="display: inline-block" >&nbsp - &nbsp</label>
                                <label style="display: inline-block" uid="couponEndTime"></label>
                            </div>
                            <div class="control-group" gid="">
                                <label class="control-label">商品原价</label><label uid="reservePrice"></label>
                            </div>
                            <div class="control-group" gid="">
                                <label class="control-label">优惠券金额</label><label uid="couponAmount"></label>
                            </div>
                            <div class="control-group" gid="">
                                <label class="control-label">券后价格</label><label uid="discountPrice"></label>
                            </div>
                            <div class="control-group" gid="">
                                <label class="control-label">使用条件</label><label uid="condition"></label>
                            </div>
                            <div class="control-group" gid="">
                                <label class="control-label">佣金比例</label>
                                <label uid="ratio"></label>
                            </div>
                            <div class="control-group" gid="hireTypeName">
                                <label class="control-label">佣金类型</label>
                                <label uid="hireTypeName"></label>
                            </div>
                            <div class="control-group" gid="planUrl">
                                <label class="control-label">计划链接</label>
                                <label uid="planUrl"></label>
                            </div>
                            <div class="control-group" gid="features">
                                <label class="control-label">卖点填写</label>
                                <label uid="features"></label>
                            </div>
                            <div class="control-group" gid="description">
                                <label class="control-label">备注信息</label>
                                <label uid="description"></label>
                            </div>
                            <div class="control-group" gid="">
                                <label class="control-label">商家QQ</label><label style="display: inline-block" uid="qq"></label>
                            </div>
                            <div class="control-group" gid="">
                                <label class="control-label">收费单价</label><label style="display: inline-block" uid="chargePrice"></label>
                            </div>
                        </form>
                        <div class="look">
                            <p>备注 </p>
                            1. 淘宝c店数码家电类<br/>
                            <p>
                                不可提交<span>大风扇</span><span>按摩器电动榨汁机</span><span>豆浆机</span><span>除螨仪</span><span>扫地机器人</span><span>吸尘器</span><span>挂烫机</span>
                                <span>饮水机</span></p>
                            <p>
                                可提交<span>大风扇</span><span>按摩器电动榨汁机</span><span>豆浆机</span><span>除螨仪</span><span>扫地机器人</span><span>吸尘器</span><span>挂烫机</span>
                                <span>饮水机</span></p>
                            2.商品和优惠券名称不能含有敏感词汇

                        </div>

                    </div>
                    <div class="zhou_2_pz">
                        <form id="createForm">
                            <p><label style="display :inline-block">产品编号：</label><span>12344</span></p>
                            <p><label style="display :inline-block">提交时间：</label><span>2017-3-4 </span></p>
                            <p><label style="display :inline-block">优惠开始时间：</label><span>2017-3-4 </span></p>
                            <p><label style="display :inline-block">优惠结束时间：</label><span>2017-3-5</span></p>
                            <p><label style="display :inline-block">领取数量：</label><input type="text"
                                                                                        uid="couponReceiveNumber"/></p>
                            <p><label style="display :inline-block">支付金额：</label><input type="text" uid="payAmount"/>
                            </p>
                            <p><label style="display :inline-block">使用数量；</label><input type="text"
                                                                                        uid="couponUseNumber"/></p>
                            <p><label style="display :inline-block">应收款金额：</label><input type="text"
                                                                                         uid="shouldChargeAmount"/></p>
                            <p><label style="display :inline-block">实际收款金额：</label><input type="text"
                                                                                          uid="actualChargeAmount"/></p>
                            <p><label style="display :inline-block">转化率：</label><input type="text"
                                                                                       uid="conversionRate"/></p>
                            <img src="img/pic-1_05.png" alt="" id="zhou_2_img"/>
                            <p><label style="display :inline-block">图片描述</label><span>3333333333333</span><input
                                    type="file"/> <input type="text" uid="withoutRate" placeholder="请输入图片链接地址"/></p>
                            <p class="last"><input style="margin-right:10px;" type="submit" value="确定" class="btn red"/><input
                                    type="reset" value="重置" class="btn red"/></p>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<script src="../../assets/lib/require/require.js"></script>
<script src="../../assets/js/dependances.js"></script>
<script src="../../assets/js/manageMent/detail.js"></script>

<script>


</script>
</body>
</html>