<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>员工信息</title>
    <link rel="stylesheet" href="../../assets/lib/bootstrap/css/bootstrap-2.3.0.min.css"/>
    <link rel="stylesheet" href="../../assets/lib/bootstrap/datetimepicker/css/datetimepicker.css"/>
    <link rel="stylesheet" href="../../assets/lib/bootstrap/modal/css/bootstrap-modal.css"/>
    <link rel="stylesheet" href="../../assets/them/DT_bootstrap.css"/>
    <link rel="stylesheet" href="../../assets/lib/jquery/datatable/css/select.dataTables.min.css"/>
    <link rel="stylesheet" href="../../assets/them/default.css"/>
    <link rel="stylesheet" href="../../assets/them/style.css"/>
    <link rel="stylesheet" href="../../assets/them/style-metro.css"/>
    <link rel="stylesheet" href="../../assets/them/style-responsive.css"/>
    <link rel="stylesheet" href="../../assets/css/base.css"/>
    <link rel="stylesheet" href="../../assets/css/baobiao.css"/>
<body>
<div class="cont">
    <div class="top clearfix">
        <div class="top_left">

        </div>
        <div class="top_right">
            <a href="/frontend/modify.html" class="modifyPassword">>修改密码</a>
            <a href="#">退出</a>
        </div>

    </div>

    <div class="bottom clearfix">
        <div class="bottom_left">
            <ul style="margin:0">
                <li style="border-bottom:#1481b3" class="fa_li">

                    <a href="#" class="floor"><img src="../../assets/img/pic-1_05.png" alt=""/><span>商品管理</span> <span
                            class="jia add"></span></a>
                    <ul>
                        <li><a href=commodity.html" target="_blank">商品列表</a></li>
                        <li><a href="detail.html" target="_blank">添加员工</a></li>

                    </ul>

                </li>

                <li class="fa_li">
                    <a href="#" class="floor"><img src="../../assets/img/pic-3_13.png" alt=""/><span>报表统计</span> <span
                            class="jia add"></span></a>
                    <ul>
                        <li><a href="finance.html" target="_blank">财务管理</a></li>
                        <li><a href="report.html" target="_blank">商品报表</a></li>
                    </ul>
                </li>

                <li class="fa_li">
                    <a href="#" class="floor"><img src="img/pic-3_13.png" alt=""/><span>员工管理</span> <span
                            class="jia add"></span></a>
                    <ul>
                        <li><a href="/frontend/employeeInfo.html" target="_blank">员工信息</a></li>
                        <li><a href="/frontendjurisdiction.html" target="_blank">权限管理</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="bottom_left_2">
            <img src="img/pic-6_03.png" alt=""/>
        </div>
        <div class="bottom_right">
            <div class="bottom_right_son dis">
                <input type="button" value="添加员工" onclick="currentPage().onAddClick()" class="btn red pull-right"/>
                <input type="button" value="添加小组" onclick="currentPage().onAddGroupClick()" class="btn red pull-right"/>

                <p class="bottom_right_tit">管理中心-员工管理</p>
                <form id="searchForm">
                    姓名；<input type="text" uid="fullName"/>
                    小组；<select uid="gronpId"></select>
                    岗位；<select uid="positionId"></select>
                    <input type="submit" class="btn btn-primary red" value="搜索" />
                </form>
                <table class="table table-striped table-bordered table-hover table-full-width"
                       id="employeeGrid">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>电话</th>
                        <th>小组名称</th>
                        <th>岗位名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="addDialog" name="" class="modal hide" tabindex="-1" role="dialog"  aria-hidden="true" data-width="750" style="margin-top: 0 !important;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>添加员工</h3>
    </div>

    <form class="form-horizontal form-striped" id="addForm" style="margin-top: 20px;" >


        <div class="control-group" gid="fullName">
            <label class="control-label">姓名</label>
            <div class="controls">
                <input type="text" uid="fullName"/>
                <span hid="fullName"></span>
            </div>
        </div>

        <div class="control-group" gid="genderCode">
            <label class="control-label">性别</label>
            <div class="controls">
                <select uid="genderCode"></select>
                <span hid="genderCode"></span>
            </div>
        </div>

        <div class="control-group" gid="mobile">
            <label class="control-label">手机号</label>
            <div class="controls">
                <input type="text" uid="mobile"/>
                <span hid="mobile"></span>
            </div>
        </div>

        <div class="control-group" gid="password">
            <label class="control-label">密码</label>
            <div class="controls">
                <input type="text" uid="password"/>
                <span hid="password"></span>
            </div>
        </div>

        <div class="control-group" gid="groupId">
            <label class="control-label">所属小组</label>
            <div class="controls">
                <select uid="groupId"></select>
                <span hid="groupId"></span>
            </div>
        </div>

        <div class="control-group" gid="positionId">
            <label class="control-label">岗位名称</label>
            <div class="controls">
                <select uid="positionId"></select>
                <span hid="positionId"></span>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-large blue">提交</button>
        </div>

    </form>
</div>
<div id="addGroupDialog" name="" class="modal hide" tabindex="-1" role="dialog"  aria-hidden="true" data-width="750" style="margin-top: 0 !important;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>添加小组</h3>
    </div>

    <form class="form-horizontal form-striped" id="addGroupForm" style="margin-top: 20px;" >


        <div class="control-group" gid="name">
            <label class="control-label">小组名称</label>
            <div class="controls">
                <input type="text" uid="name"/>
                <span hid="name"></span>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-large blue">提交</button>
        </div>

    </form>
</div>
<div id="distributionDialog" name="" class="modal hide" tabindex="-1" role="dialog"  aria-hidden="true" data-width="750" style="margin-top: 0 !important;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>分配小组</h3>
    </div>

    <form class="form-horizontal form-striped" id="distributionForm" style="margin-top: 20px;" >

        <input type="text" uid="employeeId" style="display: none"/>
        <div class="control-group">
            <label class="control-label">选择小组</label>
            <div class="controls">
                <select uid="groupId"></select>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-large blue">提交</button>
        </div>

    </form>
</div>
<script src="/assets/lib/require/require.js"></script>
<script src="/assets/js/dependances.js"></script>
<script src="/assets/js/manageMent/employeeInfo.js"></script>
</body>
</html>