<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>报表</title>
    <link rel="stylesheet" href="../../assets/lib/bootstrap/css/bootstrap-2.3.0.min.css"/>
    <link rel="stylesheet" href="../../assets/lib/bootstrap/datetimepicker/css/datetimepicker.css"/>
    <link rel="stylesheet" href="../../assets/them/DT_bootstrap.css"/>
    <link rel="stylesheet" href="../../assets/lib/jquery/datatable/css/select.dataTables.min.css"/>
    <link rel="stylesheet" href="../../assets/them/default.css"/>
    <link rel="stylesheet" href="../../assets/them/style.css"/>
    <link rel="stylesheet" href="../../assets/them/style-metro.css"/>
    <link rel="stylesheet" href="../../assets/them/style-responsive.css"/>
    <link rel="stylesheet" href="../../assets/css/base.css"/>
    <link rel="stylesheet" href="../../assets/css/baobiao.css"/>
<body>
<div class="cont">
    <div class="top clearfix">
        <div class="top_left">

        </div>
        <div class="top_right">
            <a href="#"><span id="userName"></span></a>
            <a href="/frontend/modify.html" class="modifyPassword">修改密码</a>
            <a href="/logout">退出</a>
        </div>

    </div>

    <div class="bottom clearfix">
        <div class="bottom_left">
            <ul style="margin:0">
                <li style="border-bottom:#1481b3" class="fa_li">

                    <a href="#" class="floor"><img src="../../assets/img/pic-1_05.png" alt=""/><span>商品管理</span> <span
                            class="jia add"></span></a>
                    <ul>
                        <li><a href="/frontend/commodity.html" target="_blank">商品列表</a></li>
                        <li><a href="/frontend/create.html" target="_blank">添加新商品</a></li>

                    </ul>

                </li>

                <li class="fa_li">
                    <a href="#" class="floor"><img src="../../assets/img/pic-3_13.png" alt=""/><span>报表统计</span> <span
                            class="jia add"></span></a>
                    <ul>
                        <li><a href="/frontend/finance.html" target="_blank">财务管理</a></li>
                        <li><a href="/frontend/report.html" target="_blank">商品报表</a></li>
                    </ul>
                </li>

                <li class="fa_li">
                    <a href="#" class="floor"><img src="../../assets/img/pic-3_13.png" alt=""/><span>员工管理</span> <span
                            class="jia add"></span></a>
                    <ul>
                        <li><a href="/frontend/employeeInfo.html" target="_blank">员工信息</a></li>
                        <li><a href="/frontend/jurisdiction.html" target="_blank">权限管理</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="bottom_left_2">
            <img src="../../assets/img/pic-6_03.png" alt=""/>
        </div>
        <div class="bottom_right">
            <div class="bottom_right_son dis">
                <p class="bottom_right_tit">人员管理-权限管理</p>

                <form id="modifyForm">
                    <div class="control-group" style="width: 300px;margin: 0 auto">
                        <label class="control-label" style="display: inline-block">权限管理</label>
                        <select uid="positionId"></select>
                    </div>
                    <div style="border-bottom: 3px solid black; margin-top: 30px;"></div>
                    <div id="id" style="margin-top: 50px;">

                    </div>
                    <button style="margin: 0 auto   " type="submit" class="btn btn-primary btn-large blue">提交</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/assets/lib/require/require.js"></script>
<script src="/assets/js/dependances.js"></script>
<script src="/assets/js/manageMent/jurisdiction.js"></script>
</body>
</html>