<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href="../../assets/lib/bootstrap/css/bootstrap-2.3.0.min.css"/>
    <link rel="stylesheet" href="../../assets/lib/bootstrap/datetimepicker/css/datetimepicker.css"/>
    <link rel="stylesheet" href="../../assets/them/DT_bootstrap.css"/>
    <link rel="stylesheet" href="../../assets/lib/jquery/datatable/css/select.dataTables.min.css"/>
    <link rel="stylesheet" href="../../assets/them/default.css"/>
    <link rel="stylesheet" href="../../assets/them/style.css"/>
    <link rel="stylesheet" href="../../assets/them/style-metro.css"/>
    <link rel="stylesheet" href="../../assets/them/style-responsive.css"/>
    <link rel="stylesheet" href="../../assets/css/base.css"/>
    <link rel="stylesheet" href="../../assets/css/baobiao.css"/>
<body>
<div class="cont">
    <div class="top clearfix">
        <div class="top_left">

        </div>
        <div class="top_right">
            <a href="#"><span id="userName"></span></a>
            <a href="/frontend/modify.html" class="modifyPassword">修改密码</a>
            <a href="/logout">退出</a>
        </div>

    </div>


    <div class="bottom clearfix">
        <div class="bottom_left">
            <ul style="margin:0">
                <li style="border-bottom:#1481b3" class="fa_li">

                    <a href="#" class="floor"><img src="../../assets/img/pic-1_05.png" alt=""/><span>商品管理</span> <span
                            class="jia add"></span></a>
                    <ul>
                        <li><a href="/frontend/commodity.html" target="_self">商品列表</a></li>
                        <li id="showCreate"><a href="/frontend/create.html" target="_self">添加新商品</a></li>

                    </ul>

                </li>

                <li  class="fa_li">
                    <a href="#" class="floor"><img src="../../assets/img/pic-3_13.png" alt=""/><span>报表统计</span> <span
                            class="jia add"></span></a>
                    <ul>
                        <li><a href="/frontend/finance.html" target="_self">财务管理</a></li>
                        <li><a href="/frontend/report.html" target="_self">商品报表</a></li>
                    </ul>
                </li>

                <li id="showEmployee" class="fa_li" >
                    <a href="#" class="floor"><img src="../../assets/img/pic-3_13.png" alt=""/><span>员工管理</span> <span
                            class="jia add"></span></a>
                    <ul>
                        <li><a href="/frontend/employeeInfo.html" target="_self">员工信息</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="bottom_left_2">
            <img src="../../assets/img/pic-6_03.png" alt=""/>
        </div>
        <div class="bottom_right">
            <div class="bottom_right_son dis">
                <p class="bottom_right_tit">修改密码</p>

                <form id="changePasswordForm">
                    <!--<div class="control-group" style="width: 300px;margin: 0 auto" gid="password">-->
                    <!--<label class="control-label" style="display: inline-block">旧密码</label>-->
                    <!--<input type="password" uid="oldPassword">-->
                    <!--<span hid="password"></span>-->
                    <!--</div>-->
                    <div class="control-group" style="width: 300px;margin: 0 auto" gid="newPassword">
                        <label class="control-label" style="display: inline-block">新密码</label>
                        <input type="password" uid="newPassword">
                        <span hid="newPassword"></span>
                    </div>
                    <!--<div class="control-group" style="width: 300px;margin: 0 auto">-->
                    <!--<label class="control-label" style="display: inline-block" gid="confirmNewPassword">重复新密码</label>-->
                    <!--<input type="password" uid="confirmNewPassword">-->
                    <!--<span hid="confirmNewPassword"></span>-->
                    <!--</div>-->
                    <input type="submit" class="btn btn-primary btn-large blue" value="提交" style="display: block;margin: 0 auto">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/assets/lib/require/require.js"></script>
<script src="/assets/js/dependances.js"></script>
<script src="/assets/js/manageMent/modify.js"></script>
<script src="/assets/js/jquery-1.11.1.min.js"></script>

<script>
    $(document).ready(function () {
        $.ajax({
            type: 'get',
            async: false,
            url: '/employee/currentEmployee',
            success: function (data) {
                if (data.employee != null && data.employee.fullName != null) {
                    $("#userName").text(data.employee.fullName);
                    return;
                }
            }
        });
    });
</script>
</body>
</html>