<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     ">

    <bean
        id="abstractHttpClient"
        class="com.mwb.http.AbstractHttpClient"
        abstract="true" init-method="init">
        <property name="mock" value="true"/>
        <property name="maxConnection" value="150"/>
        <property name="connectionTimeout" value="10000"/>
        <property name="socketTimeout" value="10000"/>
    </bean>

    <bean id="daoLaoKeService" class="com.mwb.service.dataoke.DaoLaoKeService">
        <property name="appKey" value="2222" />
    </bean>
</beans>